<system.webServer>
    <rewrite xdt:Transform="Insert">
		<rules>
			<rule name="Redirect any alias domains to www.juffermans.co.nz" stopProcessing="true">
			  <match url=".*" />
			  <conditions logicalGrouping="MatchAny">
				<add input="{HTTP_HOST}" pattern="^www.juffermans.co.nz$" negate="true"/>
			  </conditions>
			  <action type="Redirect" url="https://www.juffermans.co.nz/{R:0}" redirectType="Permanent" />
			</rule>
		</rules>
	</rewrite>
</system.webServer>